<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/pc/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/pc/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/static/pc/js/jQeasing.js"></script>


</head>

<body>
<?php include "header.html";?>
<div id="banner">
	<div class="banenrBox" style="height:525px; position: relative;">
        <div style="position: absolute; left: 50%; margin-left: -960px; top: 0;">
            <div class="slides">
                <div class="_btn"></div>
                <div class="_pic">
                   <ul id="banUl">

                   </ul>
                </div>
            </div>
        </div>
        <a class="next" href="javascript:void(0)" ></a>
    	<a class="prev" href="javascript:void(0)" ></a>
    </div>
</div>
<div id="main">
	<div class="wrap">
    	<div class="content">
            <div class="screen">
                <ul class="one">
                    <li class="l1">歌手类型</li>
                    <li class="l3">|</li>
                    <li class="l2 on" value="-1">全部</li>
                    <li class="l2" value="1">男歌手</li>
                    <li class="l2" value="0">女歌手</li>
                    <li class="l2" value="2">组合/乐队</li>
                </ul>
                <ul class="two">
                    <li class="l1">歌手风格</li>
                    <li class="l3">|</li>  
                    <li class="l2 on" value="-1">全部</li>
                    <li class="l2" value="1">流行</li>
                    <li class="l2" value="3">摇滚</li>
                    <li class="l2" value="2">R&B </li>
                    <li class="l2" value="6">民谣</li>
                    <li class="l2" value="4">古典</li>
                    <li class="l2" value="5">舞曲</li>
                    <li class="l2" value="7">中国风</li>
                </ul>        
                <ul class="three">
                    <li class="l1">价格区间</li>
                    <li class="l3">|</li>    
                    <li class="l2 on" value="-1">全部</li>
                    <li class="l2" value="1">5万以下</li>
                    <li class="l2" value="2">5-10万</li>
                    <li class="l2" value="3">10-20万</li>
                    <li class="l2" value="4">20-50万</li>
                    <li class="l2" value="5">50-100万</li>
                    <li class="l2" value="6">100万以上</li>
                </ul>
                <script>
                    $(function(){
                        var $tit=$('.one .l2');
                        $tit.click(function(){
                            $tit.removeClass('on');
                            $(this).addClass('on');
                        });
                    });
                    $(function(){
                        var $tit=$('.two .l2');
                        $tit.click(function(){
                        $tit.removeClass('on');
                        $(this).addClass('on');
                        });
                    });
                    $(function(){
                        var $tit=$('.three .l2');
                        $tit.click(function(){
                        $tit.removeClass('on');
                        $(this).addClass('on');
                        });
                    })     
                </script>        
            </div>
        </div>
    </div> 
    <div class="wrap back2">
    	<div class="content">
        <div class="body_02">
        	<div class="waterfull clearfloat" id="waterfull">
			<ul id="list">

            </ul>
		</div>
            <div class="pagination">
                <div class="paging" style=" padding-bottom:0px;">

                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div id="footer"></div>
<script type="text/javascript">
    $(function(){
        banner1 =0;
        PAGE=0;
        STYLE='-1';
        GENDER='-1';
        PRICE='-1';
        TIME_NULL=0;
        index(1,-1,-1,-1);
        function index(page,gender,style,price){
            gender='-1';
            style='-1';
            price='-1';
            if(page != 0)PAGE=page;
            if(style != -1)STYLE=style;
            if(gender != -1)GENDER=gender;
            if(price != -1)PRICE=price;
        $.ajax({
            url:'../Index/index?style='+STYLE+'&gender='+GENDER+'&page='+PAGE+'&price='+PRICE,
            type:'get',
            dataType: 'json',
            success:function(data){
                if(data.results.infos.length == 0 && TIME_NULL==0){
                    PAGE=data.results.total;
                    index();
                    TIME_NULL = 1;
                }
                //alert(data.results.banner.length);
                if (page ==1){
                    if(banner1 ==0) {
                        for (var i = 0; i < data.results.banner.length; i++) {
                            var img = data.results.banner[i].img_pc;
                            var banner = '<li><a><img src="' + img + '" width="1920" /></a></li>';
                            if (img == '') {
                            } else {
                                $('#banUl').append(banner);
                                //console.log(banner);
                            }
                        }
                        banner1=1;
                    }
                }
                /*paging*/
                var paging = '';
                var num ='';
                if(page<=1){
                    paging+='<A class="prev1">上一页</A>'
                }else{
                    paging+='<A class="page-numbers">上一页</A>'
                }
                var paging_null=1;
                for(var n=0; n < data.results.total; n++){
                    if(page==(n+1)){
                        paging+='<a class="on">'+(n+1)+'</a>';
                    }else{
                        if ((n+1) < (page+5) ){
                            paging+='<a class="hover">'+(n+1)+'</a>';
                        }else{
                            if (paging_null){
                                paging +='<font style=" float:left; height:37px; font-size:15px; line-hight:37px; margin-right:10px">...</font>';
                                paging_null=0;
                            }

                        }

                    }
                }
                paging+='<input type="text" class="inputNum" id="numPut" value="" />';
                paging+='<A class="subDet">跳页</A>';
                if(page>=data.results.total){
                    paging+='<A class="prev1">下一页</A>'
                }else{
                    paging+='<A class="page-numbers">下一页</A>'
                }
                $('.paging').html(paging);
                    //
                var singerList ='';
                for(var j = 0; j < data.results.infos.length; j++){
                    var style = '';
                    for(var l = 0; l < data.results.infos[j].style.length; l++){
                        style += '<div>'+data.results.infos[j].style[l].name+'&nbsp</div>';
                    }
                    var meuer ='';
                    if(data.results.infos[j].price==''){
                    }else{
                        meuer+=data.results.infos[j].price+'万/场';
                    }
                    var his_may='';
                    if(data.results.infos[j].history_price==''){
                    }else{
                        his_may+='市场价：'+data.results.infos[j].history_price+'万/场';
                    }
                     singerList += ' <li class="item body_02_d1">'
                            +'<a href="artistHome?uid='+data.results.infos[j].uid+'">'
                            +'<div class="d1"><img src="'+data.results.infos[j].img_380+'"/></div>'
                            +'<div class="d2">'
                            +'<span class="s1"></span>'
                            +'<div class="u1">'
                            +'<div class="l1" title="'+data.results.infos[j].name+'">'+data.results.infos[j].name+'</div>'
                            +'<div class="l2">'+data.results.infos[j].nick+'</div>'
                            +'</div>'
                            +'<div class="u2">'
                            +'<div class="l1" id="chaer">'+meuer+'</div>'
                            +'<div class="l2">'+his_may+'</div>'
                            +'</div>'
                            +'<div class="u3">'
                            +style
                            +'</div>'
                            +'</div>'
                            +'</a>'
                            +'</li>';
                }
                $('#list').html(singerList);
                $(document).ready(function(){
                    var s_count = $(".banenrBox ._pic img").length;
                    var s_li = "";
                    for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
                    $(".slides > ._btn").html("<ul>" + s_li + "</ul>");
                    var btn = 1920 - $(".banenrBox ._btn").width();
                    var btnl = btn / 2;
                    $(".banenrBox ._btn").css("left", btnl + "px");
                    jQuery(".banenrBox").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
                });
                $('.paging .hover').click(function(){
                    index($(this).text());
                });
                $('.page-numbers').click(function(){
                    if($(this).text() == '下一页'){
                        index(parseInt($('.paging .on').text())+1);
                    }else{
                        index(parseInt($('.paging .on').text())-1);
                    }
                });
                $('.subDet').click(function(){
                    if($('#numPut').val()==''){
                        document.getElementById("numPut").focus();
                    }else{
                        index($('#numPut').val());
                    }
                });
            }
        });
        }
        /*类型*/
        var $tit=$('.one .l2');
        $tit.click(function(){
            //alert($(this).val());
            GENDER = $(this).val();
            index(PAGE,GENDER,STYLE,PRICE);
            TIME_NULL=0;
            return false;
        });
        /*风格*/
        var type=$('.two .l2');
        type.click(function(){
            STYLE=$(this).val();
            index(PAGE,GENDER,STYLE,PRICE);
            TIME_NULL=0;
            return false;
        });
        /*价格*/
        var sty=$('.three .l2');
        sty.click(function(){
            PRICE=$(this).val();
            index(PAGE,GENDER,STYLE,PRICE);
            TIME_NULL=0;
            return false;
        });
    })
</script>
</body>
</html>
