<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/pc/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>

</head>

<body>
<?php include "header.html";?>
<div id="banner">
	<div class="banenrBox" style="height:525px; position: relative;">
        <div style="position: absolute; left: 50%; margin-left: -960px; top: 0;">
            <div class="slides">
                <div class="_btn"></div>
                <div class="_pic">
                   <ul id="banUl">

                   </ul>
                </div>
            </div>
        </div>
        <a class="next" href="javascript:void(0)" ></a>
    	<a class="prev" href="javascript:void(0)" ></a>
    </div>
</div>
<div id="main">
	<div class="wrap back">
    	<div class="content">
        	<div class="title"><img src="/static/pc/images/main.png" width="286" height="23" /></div>
            <div class="switch slideTxtBox">
            	<div class="t_button hd">
                	<ul>
                    	<li>预约方</li>
                        <li>艺人方</li>
                    </ul>
                </div>
                <div class="service bd">
                	<ul>
                    	<li><img src="/static/pc/images/main1.png" width="150" height="150" /><p>提交订单</p></li>
                        <li><img src="/static/pc/images/main2.png" width="150" height="150" /><p>歌手接单</p></li>
                        <li><img src="/static/pc/images/main3.png" width="150" height="150" /><p>线下签约</p></li>
                        <li><img src="/static/pc/images/main4.png" width="150" height="150" /><p>交易完成</p></li>
                    </ul>
                    <ul>
                    	<li><img src="/static/pc/images/main1.png" width="150" height="150" /><p>收到订单</p></li>
                        <li><img src="/static/pc/images/main2.png" width="150" height="150" /><p>歌手接单</p></li>
                        <li><img src="/static/pc/images/main3.png" width="150" height="150" /><p>线下签约</p></li>
                        <li><img src="/static/pc/images/main4.png" width="150" height="150" /><p>交易完成</p></li>
                    </ul>
                </div>
            </div>
            <script>jQuery(".slideTxtBox").slide({});</script>
        </div>
    </div>
    <div class="wrap">
    	<div class="content">
        	<img src="/static/pc/images/main.jpg" width="1200" height="580"  style="float: left"/>
        </div>
    </div>
    <div class="wrap back">
    	<div class="content">
        	<img src="/static/pc/images/main5.jpg" width="1200" style="float: left" />
        </div>
    </div>
    <div class="wrap">
    	<div class="content">
        	<img src="/static/pc/images/main6.jpg" width="1200" height="580" style="float: left" />
        </div>
    </div>
    <div class="wrap back">
    	<div class="content">
        	<img src="/static/pc/images/main7.png" width="1200" height="580" style="float: left" />
        </div>
    </div>
</div>
<div id="footer"></div>
<script type="text/javascript">
    $(function(){
        $.ajax({
            url:'../Index/index?style=',
            type:'get',
            dataType: 'json',
            success:function(data){
				//alert(data.results.banner.length);
                for(var i = 0; i < data.results.banner.length; i++){
                    var img=data.results.banner[i].img_pc;
                    var banner = '<li><a><img src="'+img+'" width="1920" /></a></li>';
					if(img == ''){
					}else{
					  $('#banUl').append(banner);
					  //console.log(banner);
					}
				}
				

                var s_count = $(".banenrBox ._pic img").length;
                var s_li = "";
                for (j = 1; j <= s_count; j++) { s_li += "<li></li>"; }
                $(".slides > ._btn").html("<ul>" + s_li + "</ul>");
                var btn = 1920 - $(".banenrBox ._btn").width();
                var btnl = btn / 2;
                $(".banenrBox ._btn").css("left", btnl + "px");
                jQuery(".banenrBox").slide({ titCell: "._btn li", mainCell: "._pic ul", effect: "fold", autoPlay: true, delayTime: 1500, interTime: 3000 });
            }
        })
    });

</script>
</body>
</html>