<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/pc/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="/static/pc/js/login.js" type="text/javascript"></script>
    <script src="/static/pc/js/md5.js" type="text/javascript"></script>

</head>

<body class="back3">
<?php include "header.html";?>
<div id="main">
	<div class="content_800">
    	<div class="register">
        	<div class="loginLeft">
            	<div class="log_tit">
                	<span>登录</span>
                    <a href="registered">注册</a>
                </div>
                <div class="log_input">
                	<input type="text" class="loginInd" id="log_phone" placeholder="请输入手机号/用户名" />
                    <input type="password" class="loginInd" id="log_pass" placeholder="请输入密码" />
                    <div class="log_prompt"><span></span></div>
                </div>
                <div class="log_automatic">
                	<span><label><input type="checkbox" />&nbsp;&nbsp;自动登录</label></span>
                    <a href="#">忘记密码</a>
                </div>
                <input type="submit" class="log_sub" id="log_sub" value="立即登录" />

            </div>
            <div class="loginRight">
            	<img src="/static/pc/images/erweima_01.png" width="250" height="250" /><br />
                <span>“扫一扫”关注微信公众号</span>
            </div>
        </div>
    </div> 
</div>
<div id="footer"></div>
</body>
</html>
