<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/pc/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
<script src="/static/pc/js/register.js" type="text/javascript"></script>
<script src="/static/pc/js/md5.js" type="text/javascript"></script>
</head>

<body class="back3">
<?php include "header.html";?>
<div id="main">
	<div class="content_800">
    	<div class="register">
        	<div class="procedure">
            	<ul>
                	<li class="on"><span>1</span><br /><em>注册</em></li>
                    <li><span>2</span><br /><em>认证</em></li>
                    <li><span>3</span><br /><em>完成</em></li>
                </ul>
            </div>
            <div class="regisInp">
            	<!--<form action="#" method="post">-->
                	<input type="text" id="telPhone" class="userPhone" placeholder="用于登录和找回密码的手机号" />
                    <div class="prompt phonePro"><span></span></div>
                    <div class="verification">
                    	<input type="text" id="userVer" class="userVer" placeholder="请输入验证码" />
                    	<input type="button" id="btn" class="obtain" value="获取验证码" />
                    </div>
                    <div class="prompt ver1"><span></span></div>
                    <input type="password" id="passNum" class="userPhone" placeholder="请输入密码" />
                    <div class="prompt passPro1"><span></span></div>
                    <div class="Agreement">
                    	<label>
                        	<input type="checkbox" checked="checked" /> 阅读并接受 <a href="javascript:;" onclick="$('#Form').fadeIn()">《火了演艺用户协议》</a>
                        </label>
                    </div>
                    <input type="submit" class="sub" id="subBut" value="注册" />
                <!--</form>-->
            </div>
        </div>
    </div> 
</div>
<div id="footer"></div>
<div class="fixed1" id="Form" style="display: none">
    <div class="ui-dialog">
        <div class="proBox">
        <div class="ui-dialog-title">
            <span>火了演艺平台服务协议</span>
        </div>
        <div class="ui-dialog-content">
            <div class="protocol">
                <div class="box_">
                    <div class="protocol-con">
<p style="text-align:right">版本生效日期：2016年08月08日</p>
<p style="font-size:16px; color:#333; font-weight:bold;">提示条款</p><br />

<p>欢迎您与其他类型平台使用者共同签署《火了演艺平台协议书》（下称“本协议”），使用火了演艺平台服务！</p>
<p>自本协议发布之日起，火了演艺平台各处所称“火了演艺服务协议”均指本协议。</p>
<p>各服务条款前所列索引关键词仅为帮助您理解该条款表达的主旨之用，不影响或限制本协议条款的含义或解释。为维护您自身权益，建议您仔细阅读各条款具体表述。</p>
<p>【审慎阅读】您在申请注册流程中点击同意本协议之前，应当认真阅读本协议。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、法律适用和争议解决条款。免除或者限制责任的条款将以粗体下划线标识，您应重点阅读。如您对协议有任何疑问，可向火了演艺平台客服咨询。</p>
<p>【签约动作】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，即表示您已充分阅读、理解并接受本协议的全部内容，并与火了演艺达成一致，成为火了演艺平台“用户”。阅读本协议的过程中，如果您不同意本协议或其中任何条款约定，您应立即停止注册程序。</p>
<h3>一、	协议范围</h3>
<p>【平等主体】本协议由您和火了演艺平台注册使用者共同缔结，本协议对您和所有火了演艺平台注册使用者均具有合同效力。</p>
<h3>二、	账户注册与适用<h3>
<h4>2.1用户资格</h4>
<p>您确认，在您开始注册程序使用火了演艺平台服务前，您应当具备中华人民共和国法律规定的与您行为相适应的民事行为能力。若您不具备前述与您行为相适应的民事行为能力，则您及您的监护人应依照法律规定承担因此而导致的一切后果。</p>
<h4>2.2账户说明</h4>
<p>【账户获得】当您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，您可获得火了演艺平台账户并成为火了演艺平台用户。</p>
<p>火了演艺平台只允许每位用户用一个手机号注册使用一个火了演艺平台账户。</p>
<p>【实名认证】为了更好地使用火了演艺平台的服务，保障服务效率与服务质量，火了演艺平台的每位用户均需按照平台要求及我国相关法律规定完成实名认证。未完成实名认证的用户，将受服务限制。</p>
<p>【不活跃账户回收】如您的账户同时符合以下条件，则火了演艺可回收您的账户，您的账户将不能再登录任一火了演艺平台，相应服务同时终止：</p>
<p><strong>（一）未绑定通过实名认证的火了演艺账户；<br />
（二）连续六个月未用于登录任一火了演艺平台；<br />
（三）不存在未到期的有效业务。</strong></p>
<h4>2.3注册信息管理</h4>	
<p>【信息真实】在使用火了演艺平台服务时，您应当按火了演艺平台页面的提示准确完整地提供您的信息（包括您的姓名、联系电话、身份证号等），以便火了演艺客服与您联系。您了解并同意，您有义务保持您提供信息的真实性及有效性。</p>

<p>【会员名的合法性】您设置的火了演艺用户名不得违反国家法律法规及火了演艺平台规则关于用户名的管理规定，否则火了演艺可回收您的账号。</p>
<h4>2.4账户安全规范</h4>
<p>【账户安全保管义务】您的账户为您自行设置并由您保管，火了演艺任何时候均不会主动要求您提供您的账户密码。因此，建议您务必保管好您的账户， 并确保您在每个上网时段结束时退出登录并以正确步骤离开火了演艺平台。
账户因您主动泄露或因您遭受他人攻击、诈骗等行为导致的损失及后果，火了演艺并不承担责任，您应通过司法、行政等救济途径向侵权行为人追偿。</p>

<p>【账户行为责任自负】除火了演艺存在过错外，您应对您账户项下的所有行为结果（包括但不限于在线签署各类协议、发布信息、服务及披露信息等）负责。</p>
<p>【日常维护须知】如发现任何未经授权使用您账户登录火了演艺平台或其他可能导致您账户遭窃、遗失的情况，建议您立即通知火了演艺。您理解火了演艺对您的任何请求采取行动均需要合理时间，且火了演艺应您请求而采取的行动可能无法避免或阻止侵害后果的形成或扩大，除火了演艺存在法定过错外，火了演艺不承担责任。</p>
<h3>三、	火了演艺服务</h3>
<h4>3.1提供服务</h4>
<p>【服务概况】您有权在火了演艺平台上享受各注册身份享有的相对应的信息发布、歌手管理、歌手预约、交易争议调解处理、经济团队服务等服务。火了演艺提供的服务内容众多，具体您可登录火了演艺平台浏览。</p>
<p>【预约服务】火了演艺接收用户及演艺人员委托，承诺用户及演艺人员在“火了演艺”平台达成初步交易意向后，为双方提供资金安全保障服务并对特定服务收取相应服务费用。</p>
<p>（1）用户及演艺人员在“火了演艺”平台上达成合作意向后，用户向“火了演艺”支付演艺人员预约定金，由“火了演艺”代收代缴；</p>
<p>（2）在用户成功支付预约定金、演艺人员接受订单之后，火了演艺专业经纪人团队全程为双方服务，促成双方尽快达成交易，签署演艺或商务广告活动合作合同；</p>
<p>（3）在担保服务期内，若用户及演艺人员任何一方出现违反合同内容的行为，火了演艺有权按照合同内容给予相应的担保处理；</p>
<p>（4）用户及演艺人员需保证如实提供合同签署所需信息，否则“火了演艺”有权随时中断履行担保义务；</p>
<h4>3.2交易争议处理</h4>
<p>【交易争议处理途径】您在火了演艺平台交易过程中与其他用户发生争议的，您或其他用户中任何一方均有权选择以下途径解决：</p>
<p><strong>（1）与争议相对方自主协商；<br />
（2）求助火了演艺平台提供调解服务；<br />
（3）请求消费者协会或者其他依法成立的调解组织调解；<br />
（4）向有关行政部门投诉；<br />
（5）根据与争议相对方达成的仲裁协议（如有）提请仲裁机构仲裁；<br />
（6）向人民法院提起诉讼。</strong></p>
<h4>3.3费用</h4>	
<p>火了演艺为火了演艺平台向您提供的服务付出了大量的成本，火了演艺向您提供的服务目前是免费的；若企业用户与艺人对接过程中，需要我方经纪人全程陪同签约及完成之后的演出活动，需要向经纪人提供必要的经济服务（食住行费用）。如未来变更服务费用，火了演艺会采取合理途径并以足够合理的期限提前通过法定程序并以电话、短信、电子邮件的方式通知您，确保您有充分选择的权利。</p>
<h4>3.4责任限制</h4>
<p>【不可抗力及第三方原因】火了演艺依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，火了演艺并不承担相应的违约责任：</p>
<p>（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；</p>
<p>（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；</p>
<p>（三）在火了演艺已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。</p>
<p>【海量信息】火了演艺仅向您提供火了演艺平台服务，您了解火了演艺平台上的信息系用户自行发布，可能存在风险和瑕疵。火了演艺不对用户所发布信息的保存、修改、删除或存储失败负责。对网站上的非因火了演艺故意所导致的排字错误、疏忽等问题不承担责任。火了演艺有权但无义务改善或更正本网站任何部分疏漏、错误。若由于艺人原因无及时更新出场费及档期等情况，火了演艺不承担相应责任。</p>
<p>【调处决定】您理解并同意，在争议调解服务中，火了演艺平台的客服、调解人员并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断。因此，除存在故意或重大过失外，调处方对争议调处决定免责。</p>
<p>【免责申明】在演艺人员与用户履行合作合同期间，非火了演艺平台原因所产生的任何纠纷赔偿，火了演艺不承担任何责任，火了演艺仅提供调解服务。</p>
<p>【免责申明】火了演艺平台仅提供艺人信息发布、经纪公司／公司歌手管理、企业用户歌手预约、交易纠纷调解等在法律允许、平台力所能及范围内的优质服务，希望平台用户本着遵纪守法的原则在平台进行合法交易，若在双方合作合同期限内发生的任何有关洗钱、卖淫、嫖娼等违法行为，火了演艺不承担任何法律责任。</p>
<h3>四、	用户信息的保护及授权</h3>
<h4>4.1个人信息的保护</h4>
<p>火了演艺非常重视用户个人信息（即能够独立或与其他信息结合后识别用户身份的信息）的保护，用户在注册认证过程中涉及的真实姓名、联系电话、电子邮箱、身份证号、企业相关材料等隐私信息，本站将予以严格保密，除非得到用户授权或法律另有规定，本站不会向外界披露用户隐私信息。</p>
<h4>4.2个人信息的保证与授权</h4>
<p>【信息的发布】您声明并保证，您对您所发布的信息拥有相应、合法的权利。否则，火了演艺可对您发布的信息依法或依本协议进行删除或屏蔽。</p>

<p>【禁止性信息】您应当确保您所发布的信息不包含以下内容：</p>
<p>（1）违反国家法律法规禁止性规定的；</p>
<p>（2）政治宣传、封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</p>
<p>（3）欺诈、虚假、不准确或存在误导性的；</p>
<p>（4）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</p>
<p>（5）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</p>
<p>（6）存在可能破坏、篡改、删除、影响火了演艺平台任何系统正常运行或未经授权秘密获取火了演艺平台及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</p>
<p>（七）其他违背社会公共利益或公共道德或依据相关火了演艺平台协议、规则的规定不适合在火了演艺平台上发布的。</p>
<p>【授权使用】对于您提供及发布除个人信息外的文字、图片、视频、音频等信息，在版权保护期内您免费授予火了演艺获得全球排他的许可使用权利及再授权给其他第三方使用的权利。</p>
<h3>五、	协议的变更</h3>
<p>火了演艺可根据国家法律法规变化及维护交易秩序、保护消费者权益需要，不时修改本协议、补充协议，由于“火了演艺”的用户群过于庞大和分散，因此如果变更条款，我们将选择在“火了演艺”旗下的网站平台以公告的方式予以公布而不再另行单独通知您，该等变更将在公布时即时生效。</p>
<p>如您对已生效的变更事项不同意，您应当于变更事项生效之日起停止使用火了演艺平台服务，变更事项对您不产生效力；如您在变更事项生效后仍继续使用火了演艺平台服务，则视为您同意已生效的变更事项并受之约束。</p>
<h3>六、	通知</h3>
<p>【有效联系方式】您在注册成为火了演艺平台用户，并接受火了演艺平台服务时，您应该提供真实有效的联系方式（包括您的联系电话、电子邮件地址等），对于联系方式发生变更的，您有义务及时更新有关信息，并保持可被联系的状态。对由于用户未及时更新联系方式而导致的无法及时服务等问题，由用户自行承担。</p>
<h3>七、	法律适用、管辖与其他</h3>
<p>【法律适用】本协议之订立、生效、解释、修订、补充、终止、执行与争议解决均适用中华人民共和国大陆地区法律；如法律无相关规定的，参照商业惯例及/或行业惯例。</p>
<p>【管辖】您因使用火了演艺平台服务所产生及与火了演艺平台服务有关的争议，由火了演艺与您协商解决。协商不成时，任何一方均可向被告所在地人民法院提起诉讼。</p>
<p>【可分性】本协议任一条款被视为废止、无效或不可执行，该条应视为可分的且并不影响本协议其余条款的有效性及可执行性。</p> 

                    </div>
                </div>
                <div class="protocol-button">
                    <button href="javascript:;" onclick="$('#Form').fadeOut()">同意并继续</button>
                </div>
            </div>
        </div>
		</div>
        <a class="ui-dialog-close" title="关闭"><span class="ui-icon ui-icon-delete"></span></a>
	</div>
</div>
<div class="reg_prompt">
    <div class="white">
        <div class="w_300">
            <div class="prompt_text">请选择用户类型</div>
            <div class="roid">
                <label><input type="radio" class="radio_ni" name="sel" value="4" checked/> &nbsp;普通企业</label><br/>
                <label><input type="radio" class="radio_ni" name="sel" value="5"/> &nbsp;经纪人</label><br/>
                <label><input type="radio" class="radio_ni" name="sel" value="6"/> &nbsp;经纪公司</label><br/>
                <label><input type="radio" class="radio_ni" name="sel" value="7"/> &nbsp;艺人</label><br/>
            </div>
            <div class="press">
                <a href="authenticate">继续认证</a>
                <a href="index">稍后认证</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
