
*{ padding: 0; margin: 0;}
.title {
    padding:0;
    margin:10px 0;
    font:700 18px/1.5 \5fae\8f6f\96c5\9ed1;
}
.title a {
    font:400 14px/1.5 Tahoma;
    margin-left:20px;
}
.example {
    margin-top:10px;
}
.example button {
    margin:0 5px 10px 0;
}
.calendar {
    display:inline-block;
}
.container ul,li{list-style-type: none;}
.container dl,dt,dd{ float:left; width: 322px;}
.container .inner li{ float:left; width:40px; height:40px; text-align: center; line-height: 40px; font-size:18px; margin:3px;}

.calendar-bounding-box{position:relative;color:#404040;font:12px/1.5 Arial;z-index:1;}
.calendar-bounding-box .container{background-color:#FFF;zoom:1}
.calendar-bounding-box iframe{position:absolute;top:0;left:0;z-index:-1;border-width:0;}
.calendar-bounding-box .message-box{position:relative;z-index:1;margin-bottom:-1px;padding:5px 10px;line-height:19px;border:1px solid #FF8080;background-color:#FFF2F2;display:none;zoom:0;text-align:left;}
.calendar-bounding-box .content-box{position:relative;zoom:1;padding:5px 30px 15px 30px;border:1px solid;border-color:#ddd;letter-spacing:-0.31em;*letter-spacing:normal;word-spacing:-0.43em; }
.calendar-bounding-box .content-box .arrow{}
.calendar-bounding-box .content-box .arrow span{position:absolute;top:50%;width:20px;height:38px;cursor:pointer;margin-top:-19px;text-indent:-99999px;background:#FFF url(http://img03.taobaocdn.com/tps/i3/T1upvrXbFdXXbRt4oj-57-106.png) 0 0 no-repeat;}
.calendar-bounding-box .content-box .arrow span.close-btn{top:10px;right:10px;width:17px;height:17px;margin:0;background-position:-40px 0px;}
.calendar-bounding-box .content-box .arrow span.prev-btn{left:10px;background-position:0 0;}
.calendar-bounding-box .content-box .arrow span.next-btn{right:10px;background-position:-20px 0;}
.calendar-bounding-box .content-box .arrow span.prev-btn-disabled{left:10px;cursor:default;background-position:0 -38px;}
.calendar-bounding-box .content-box .arrow span.next-btn-disabled{right:10px;cursor:default;background-position:-20px -38px;}
.calendar-bounding-box .content-box .inner{position:relative;background-color:#FFF;display:inline-block;padding:0 10px;zoom:1;*display:inline;letter-spacing:normal;word-spacing:normal;vertical-align:top;}
.calendar-bounding-box .content-box .inner h4{margin:0;padding:0;font-size:18px;line-height:38px;text-align:center;border-bottom:1px solid #E4E4E4;}
.calendar-bounding-box .content-box .inner h4 select{font:12px/1.5 Arial;margin:0 5px;}
.calendar-bounding-box .content-box .inner ul{border-spacing:0;border-collapse:collapse;}
.calendar-bounding-box .content-box .inner ul th{height:22px;font-weight:400;border-bottom:1px solid #E4E4E4;}
.calendar-bounding-box .content-box .inner ul th.weekend{}
.calendar-bounding-box .content-box .inner ul li{padding:0;width:40px;height:40px;text-align:center;}
.calendar-bounding-box li a{width:40px;height:40x;display:block;color:#666666;line-height:40px;text-decoration:none;}
.calendar-bounding-box li.disabled a{color:#DCDCDC!important;background-color:transparent!important;}
.calendar-bounding-box li.disabled a:hover{color:#DCDCDC;cursor:default;}
.calendar-bounding-box li.start-date a,
.calendar-bounding-box li.selected-date a,
.calendar-bounding-box li.selected-range a:hover{color:#999999;background-color:#dddddd; border-radius:50px; }
.calendar-bounding-box li.end-date a,
.calendar-bounding-box-style li a:hover,
.calendar-bounding-box-style li.end-date a:hover,
.calendar-bounding-box-style li.start-date a:hover,
.calendar-bounding-box-style li.selected-range a:hover{color:#FFF;background-color:#E2AD44;}
.calendar-bounding-box-style li.hover a{color:#404040;background-color:#BBDDF4!important;}
.calendar-bounding-box li.selected-range a{background-color:#D9F2FF;}
.calendar-bounding-box .hidden{display:none;zoom:0;}
.calendar-bounding-box .visible{display:block;zoom:1;}
.calendar-input-wrap{position:relative;display:inline-block;zoom:1;*display:inline;}
.calendar-input-wrap input{outline:none;}
.calendar-input-wrap span{position:absolute;cursor:text;top:50%;right:5px;height:15px;color:#A1A1A1;overflow:hidden;margin-top:-7.5px;font:400 12px/15px Arial;background:url(http://img03.taobaocdn.com/tps/i3/T1upvrXbFdXXbRt4oj-57-106.png) -999px -999px no-repeat;}
.calendar-input-wrap .calendar-start-icon{padding-right:25px;background-position:right -76px;}
.calendar-input-wrap .calendar-end-icon{padding-right:25px;background-position:right -91px;}

/* 今天 */
.calendar-bounding-box li.start-date .today,
.calendar-bounding-box li.selected-date .today,
.calendar-bounding-box li .today:hover,
.calendar-bounding-box li.end-date .today:hover,
.calendar-bounding-box li.selected-range .today:hover{ color:#fff; background-color:#fa424c;}
.calendar-bounding-box li.end-date .today,
.calendar-bounding-box-style li .today:hover,
.calendar-bounding-box-style li.end-date .today:hover,
.calendar-bounding-box-style li.selected-range .today:hover{background-color:#fa424c;}
.calendar-bounding-box li.selected-range .today{background-color:#fa424c;}
.calendar-bounding-box li.hover .today{background-color:#fa424c;}