@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
img{ max-width:100%;}
ol,ul,li{ list-style-type:none; list-style-position:outside;}
caption,th{ text-align:left;}
h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
a{text-decoration:none; color:#434343;}
a:hover{text-decoration:none; color:#fa424c;}
body {margin:0;padding:0;min-width:320px;width:100%;}
body,td,th {font-family:"microsoft yahei"; font-size:12px; color:#434343;}
a,p,ul,li{ text-decoration:none; margin:0; padding:0; list-style-type:none;}
/*@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}*/  
textarea,select{-webkit-appearance: none; -o-appearance: none; -moz-appearance: none; appearance: none; border-radius:0; box-sizing:border-box; }  
input{border-radius:0; box-sizing:border-box; font-family:"microsoft yahei";}
input[type="button"], input[type="submit"], input[type="radio"], input[type="datetime-local"]{-webkit-appearance: none; -o-appearance: none; -moz-appearance: none; appearance: none; border-radius:0; box-sizing:border-box; }


/*登录*/
.login{ position:fixed; z-index:999; left:50%; margin-left:-230px; top:50%; margin-top:-210px;}
.log_box{ float:left; width:460px; height:420px; background-color:#fff; /*border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; -ms-border-radius:8px;*/}
#logo{ float:left; width:460px; height:100px; background-color:#3c506f; text-align:center;}
#logo img{ vertical-align:middle; margin-top:-3px;}
.text_info{ float:left; width:380px; padding:0 40px; margin-top:30px;}
.log_input{ float:left; width:348px; border:1px solid #ccc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; -ms-border-radius:5px; -o-border-radius:5px; height:48px; text-indent:10px;}
.log_box button{ margin:0 auto; display:table; width:200px; height:50px; border:1px solid #6090f4; color:#fff; font-size:18px;font-family:"microsoft yahei"; line-height:30px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; cursor:pointer;
background: -moz-linear-gradient(top, #719fff 15%, #50abf1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#719fff), color-stop(100%,#50abf1)); background: -webkit-linear-gradient(top, #719fff 15%,#50abf1 100%); background: -o-linear-gradient(top, #719fff 15%,#50abf1 100%); background: -ms-linear-gradient(top, #719fff 15%,#50abf1 100%); background: linear-gradient(to bottom, #719fff 15%,#50abf1 100%);}
.log_box a{ color:#6596f5; font-size:14px;}
.log_box span{ color:#666; font-size:14px;}
.log_prompt,.log_pass{ position:absolute; z-index:11; left:0; top:60px; height:30px; line-height:30px;}
.user_prompt{ position:absolute; z-index:11; left:0; top:-10px;}





