<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
<title>关于我们</title>
<link href="/static/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/js/jquery-1.11.2.min.js" type="text/javascript"></script>
</head>
<body class="back">
<div id="header">
	<div class="top">
    	<div class="title">
        	关于我们
            <div class="return"><a href="javascript:history.back(-1);"><img src="/static/images/top.png" width="12" /> 返回</a></div> 
        </div>
    </div>
</div>
<div id="content">
	<div class="about" style="float:left; width:100%;">
    	<img src="/static/images/aboutbanner.png" width="100%" />
        <img src="/static/images/about4.png" width="100%" style="margin-top:13px;" />
        <img src="/static/images/about1.png" width="100%" style="margin-top:13px;" />
        <img src="/static/images/about2.png" width="100%" style="margin-top:13px;" />
        <img src="/static/images/auout3.png" width="100%" style="margin-top:13px;" />
    </div>
    <div class="guide">
    	<div class="t_title">交易指南</div>
        <ul>
        	<li>
            	<div class="tit_gui">No.1、火了演艺的用户分类及权限有哪些？</div>
                <div class="info_gui">
1、游客：未登录游客、可以查看歌手信息，无法预约歌手和收藏分享歌手；
<br />2、普通用户：已经注册登录（包含第三方登录）但未经过认证的用户，此类用户可以查看歌手信息，收藏和分享，修改个人资料，无法进行歌手预约；
<br />3、企业用户：企业认证是通过上传企业法人证件和企业营业执照进行认证的用户，企业用户权限包含普通用户的权限，同时可以进行歌手预约；
<br />4、歌手：通过上传本人证件和个人作品进行认证，通过修改个人档期、出场费用、添加个人风格和其它要求发布个人信息，可以接受他人预约和预约其他歌手；
<br />5、经纪人/经纪公司：通过本人证件和经纪人证认证的为经纪人，经由法人证件和企业营业执照认证的经纪公司为经纪公司用户，经纪人和经纪公司旗下管理歌手（等同于歌手类别），可以发布/删除歌手，接受预约和预约其他歌手。
                </div>
            </li>
            <li>
            	<div class="tit_gui">No.2、如何进行歌手预约？</div>
                <div class="info_gui">
1、搜索歌手；
<br />2、提交订单信息；
<br />3、支付定金；
<br />4、歌手接单；
<br />5、线下签约；
<br />6、歌手到场/活动开始；
<br />7、交易完成/评价。

                </div>
            </li>
            <li>
            	<div class="tit_gui">No.3、艺人认证需要准备哪些材料？</div>
                <div class="info_gui">
1、个人证件（由经纪人/经纪公司添加的艺人不需要此类证件）；
<br />2、个人作品连接；
<br />3、档期、价格和特殊要求。
                </div>
            </li>
            <li>
            	<div class="tit_gui">No.4、预约没有成功定金能否退还？</div>
                <div class="info_gui">
　　用户提交订单并付款成功后，歌手将收到订单信息，通过查看订单信息选择接受或拒绝，超过2小时未处理的订单默认为拒绝，被拒绝的订单视为交易关闭，预约用户可以选择其他歌手或档期重新预约，预定金将在24小时内退回至本人；
<br />　　歌手接单后，等待我方经纪人对双方进行联系，进行线下签约，双方确认签约生效；经双方协商一致的订单可以取消，预定金全额返还，未经协商一致，用户单方面取消订单，预约金不予返还；若歌手单方面违约按照签约协议进行赔偿，且预约金予以退还。

                </div>
            </li>
            <li>
            	<div class="tit_gui">No.5、是否收取费用？</div>
                <div class="info_gui">
                　　火了科技不会收取双方任何费用，若需要我方经纪人全程陪同签约及之后的演出活动，需要向经纪人提供必要的经济服务（食住行费用）。
                </div>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(){
	  $(".tit_gui").click(function(){
	  $(this).next().slideToggle();
	  });
	});
	</script>
</body>
</html>
