@charset "utf-8";
/* CSS Document */
*{ padding:0; margin:0;}
table{ border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;}
img{ max-width:100%;}
ol,ul,li{ list-style-type:none; list-style-position:outside;}
caption,th{ text-align:left;}
h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}
a{text-decoration:none; color:#434343;}
a:hover{text-decoration:none; color:#fa424c;}
body {margin:0;padding:0;min-width:320px;width:100%;}
body,td,th {font-family:"microsoft yahei"; font-size:12px; color:#434343;}
a,p,ul,li{ text-decoration:none; margin:0; padding:0; list-style-type:none;}
/*@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}*/  
textarea,select{-webkit-appearance: none; -o-appearance: none; -moz-appearance: none; appearance: none; border-radius:0; box-sizing:border-box; }  
input{border-radius:0; box-sizing:border-box; font-family:"microsoft yahei";}
input[type="button"], input[type="submit"], input[type="radio"], input[type="datetime-local"]{-webkit-appearance: none; -o-appearance: none; -moz-appearance: none; appearance: none; border-radius:0; box-sizing:border-box; }


/*登录*/
.login{ position:fixed; z-index:999; left:50%; margin-left:-150px; top:50%; margin-top:-150px;}
.log_box{ float:left; width:230px; height:298px; padding:0 34px; border:1px solid #ececec; background:rgba(255,255,255,.5); border-radius:8px; -webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; -ms-border-radius:8px;}
.log_input{ float:left; width:202px; border:1px solid #ececec; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; -o-border-radius:3px; height:30px; text-indent:10px;}
.log_box button{ margin:0 auto; display:table; width:100px; height:30px; border:1px solid #6090f4; color:#fff; font-size:16px;font-family:"microsoft yahei";
background: -moz-linear-gradient(top, #719fff 0%, #6192f1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#719fff), color-stop(100%,#6192f1)); background: -webkit-linear-gradient(top, #719fff 0%,#6192f1 100%); background: -o-linear-gradient(top, #719fff 0%,#6192f1 100%); background: -ms-linear-gradient(top, #719fff 0%,#6192f1 100%); background: linear-gradient(to bottom, #719fff 0%,#6192f1 100%);}










