<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="/static/pc/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>

</head>

<body>
<?php include "header.html";?>
<div id="banner">
	<div class="banenrBox" style="height:255px; position: relative;">
        <div style="position: absolute; left: 50%; margin-left: -960px; top: 0;">
            <div class="slides">
                <div class="_pic">
                   <ul>
                      <li><a href="#"><img src="/static/pc/images/about.jpg" width="1920" height="255" /></a></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main"> 
    <div class="wrap">
    	<div class="content">
        	<div class="top_title"><h3 class="headline">关于“火了演艺”</h3></div>
            <div class="d_text_about">
            	<p>　　“火了演艺”艺人在线预约平台是国内演艺行业市场细分的一个创新产品及服务平台，通过线上平台海量知名艺人资源的搜索整合、服务资源及服务需求的对接，为全国数千万企业用户提供优质、透明、全面的艺人在线快速预约服务，解决用户预约艺人过程中的各种麻烦，提高用户预约艺人的效率及艺人演出合同签订的成功率。我们致力于实现“让用户以一手价格、具有安全保障、方便快捷的方式预约艺人”的愿景，让天下没有难约的艺人。同时，为艺人提供一个权威、安全的信息发布平台。</p>
            </div>
            <div class="guide">
                <div class="t_title">交易指南</div>
                <ul>
                    <li>
                        <div class="tit_gui">No.1、“火了演艺” 预约与支付</div>
                        <div class="info_gui">
       					<p>1.1 为何需要预约方支付定金？</p>
                        <p>　　入驻平台的均为知名艺人，每位艺人均有数量庞大的粉丝团，为避免粉丝恶意骚扰艺人，保证艺人的订单成交率，节省三方（预约方、艺人／经纪人／经纪公司、火了演艺平台）的时间成本，平台设置支付定金的模式，以过滤伪需求，避免无效合作谈判。</p>
                        <p style="margin-top:8px;">1.2 “火了演艺”平台在交易中收取手续费吗？</p>
                        <p>　　火了演艺向您提供火了演艺平台服务虽付出了大量的成本，但目前服务是免费的。若企业用户与艺人对接过程中，需要我方经纪人全程陪同签约及其之后的演出活动，需要向经纪人报销相关的差旅费用。如未来变更服务费用，火了演艺会采取合理途径并以足够合理的期限提前通过法定程序并以电话、短信、电子邮件的方式通知您，确保您有充分选择的权利。</p>
                        <p style="margin-top:8px;">1.3	预约艺人流程是怎样的？</p>
                        <p>　　1、	搜索艺人<br />
                        　　2、	提交订单信息<br />
                        　　3、	支付定金<br />
                        　　4、	艺人接单<br />
                        　　5、	线下签约<br />
                        　　6、	艺人到场／活动开始<br />
                        　　7、	交易完成／评价
                        </p>
						<p style="margin-top:8px;">1.4 预约艺人的规范是怎样的？</p>
                        <p>　　1）预约方在提交订单之前，需要完整并真实地填写活动详情；<br />
                        　　2）双方本着平等的原则进行交易，线上提交订单之后，“火了演艺”平台服务人员会根据双方的要求协调，促进双方进行线下签约；<br />
                        　　3）双方在线下签约、活动演出时，需遵守约定时间，避免迟到；<br />
                        　　4）双方全程均履行协议与合同的权利和义务；<br />
                        　　5）双方文明见面，礼貌用语，若在合作交流过程中，需终止合作，双方尽量以私下协商方式解决。
                        </p>
                        </div>
                    </li>
                    <li>
                        <div class="tit_gui">No.2、我是企业用户</div>
                        <div class="info_gui">
        				<p>2.1	如何使用“火了演艺” 艺人在线预约平台</p>
                        <p style="margin-top:8px;">2.2	企业用户能否取消预约？</p>
                        <p>　　1）企业在提交订单支付定金之后，艺人接单之前不能取消预约。<br />
　　2）用户预约艺人，在预约定金支付成功，且艺人接受订单后，由于预约方原因取消订单，需要扣除预约定金的30%，剩余定金将在1-7个工作日内退还至您的支付账号
						</p>
                        <p style="margin-top:8px;">2.3	艺人会拒绝企业用户的预约吗？</p>
                        <p>　　1）因为平台艺人的档期全部都是艺人自己更新，可能无法达到实时跟新，可能会造成档期冲突的情况，我们会尽量提醒艺人更新档期，如对您造成预约上的不便，请您谅解；<br />
　　2）艺人在接单之前会仔细查看提交的预约订单，因为一些艺人自身的特殊原因与特殊要求，可能会拒绝您的订单。
						</p>
                        <p style="margin-top:8px;">2.4	企业用户能变更预约的时间和地点吗？</p>
                        <p>　　1）企业在提交订单之后、艺人接单之前无法变更预约时间和预约地点；<br />
　　2）企业提交订单、艺人接单之后，线下签约之前
						</p>
                        <p style="margin-top:8px;">2.5	艺人迟到或者未能参加演出怎么办？</p>
                        <p>　　双方在线上达成一致意见之后，“火了演艺”平台服务人员将协调双方进行线下签订合作合同，艺人迟到或未能参加演出的情况按合作合同履行；若合作合同未列出相关条例，“火了演艺”平台服务团队会尽量协商解决，双方本着理解宽容的原则进行协商解决。</p>
                        <p style="margin-top:8px;">2.6	具体的支付流程是什么？</p>
                        <p>　　1）预约方填写活动详情之后，以支付宝或微信方式支付预约定金；<br />
　　2）若需要“火了演艺”平台在活动过程中担保，根据合作合同的付款程序，预约方支付给艺人／经纪人／经纪公司的款项将由平台代收，在活动结束之后，平台将款项全部转至给艺人／经纪人／经纪公司方；<br />
　　3）若在线下签订合作合同之后，不需要“火了演艺”平台担保，预约方根据合同直接支付给艺人／经纪人／经纪公司方。
						</p>
                        </div>
                    </li>
                    <li>
                        <div class="tit_gui">No.3、我是艺人</div>
                        <div class="info_gui">
       					<p>3.1	如何使用“火了演艺” 艺人在线预约平台</p>
                        <p style="margin-top:8px;">3.2	平台准入条件</p>
                        <p>　　（1）平台对有违法记录（如吸毒、嫖娼、卖淫等行为）的艺人采取抵制措施，禁止此类艺人入驻平台；<br />
　　（2）平台对入驻艺人在入驻期间，发现违法行为的（如吸毒、嫖娼、卖淫等行为），立即注销其账号，并限制其以后入驻平台；<br />
　　（3）入驻平台的艺人，若在与预约方合作期间，由于艺人方自身原因对预约方造成严重影像的，平台将注销其账号。
						</p>
                        <p style="margin-top:8px;">3.3	艺人可以拒绝或取消订单吗？</p>
                        <p>　　1）艺人在接到订单之后，需仔细阅读预约方提交的活动详情，根据自己的实际情况选择接受或拒绝订单。若拒绝订单，艺人需真实客观填写拒绝理由；<br />
　　2）若艺人在接单之后、双方线下签订合作合同之前，艺人方需要取消订单，“火了演艺”平台服务团队会尽力协调双方友好沟通；<br />
　　3）若签订合作合同之后，艺人需要取消订单，双方按照合作合同的条款履行，“火了演艺”平台服务人员将在能力范围内协调。
						</p>
                        <p style="margin-top:8px;">3.4	何时收到预约方的预约金</p>
                        <p>　　预约方支付预约金之后，由“火了演艺”平台暂为代收，当艺人到达活动现场，预约方确认艺人到场之后，平台将把预约金转至艺人的帐户。</p>
                        </div>
                    </li>
                    <li>
                        <div class="tit_gui">No.4、我是经纪公司／经纪人</div>
                        <div class="info_gui"><p>4.1	如何使用“火了演艺” 艺人在线预约平台</p>    
        				<p style="margin-top:8px;">4.2	其他</p>
                        <p>　　经纪人／经纪公司旗下艺人入驻要求、拒绝取消订单请参考“我是艺人”</p>
                        <p style="margin-top:8px;">4.3	何时收到预约方的预约金</p>
                        <p>　　预约方支付预约金之后，由“火了演艺”平台暂为代收，当艺人到达活动现场，预约方确认艺人到场之后，平台将把预约金转至经纪人／经纪公司的帐户。</p>
                        </div>
                    </li>
                    <li>
                        <div class="tit_gui">No.5、免责声明</div>
                        <div class="info_gui">
                        <p>
                       	　　【不可抗力及第三方原因】火了演艺依照法律规定履行基础保障义务，但对于下述原因导致的合同履行障碍、履行瑕疵、履行延后或履行内容变更等情形，火了演艺并不承担相应的违约责任：<br />
　　（一）因自然灾害、罢工、暴乱、战争、政府行为、司法行政命令等不可抗力因素；<br />
　　（二）因电力供应故障、通讯网络故障等公共服务因素或第三人因素；<br />
　　（三）在火了演艺已尽善意管理的情况下，因常规或紧急的设备与系统维护、设备与系统故障、网络信息与数据安全等因素。<br />
　　【海量信息】火了演艺仅向您提供火了演艺平台服务，您了解火了演艺平台上的信息系用户自行发布，可能存在风险和瑕疵。火了演艺不对用户所发布信息的保存、修改、删除或存储失败负责。对网站上的非因火了演艺故意所导致的排字错误、疏忽等问题不承担责任。火了演艺有权但无义务改善或更正本网站任何部分疏漏、错误。若由于艺人原因无及时更新出场费及档期等情况，火了演艺不承担相应责任。<br />
　　【调处决定】您理解并同意，在争议调解服务中，火了演艺平台的客服、调解人员并非专业人士，仅能以普通人的认知对用户提交的凭证进行判断。因此，除存在故意或重大过失外，调处方对争议调处决定免责。<br />
　　【免责申明】在演艺人员与用户履行合同合作期间，非火了演艺平台原因所产生的任何纠纷赔偿，火了演艺不承担任何责任，火了演艺仅提供调解服务。<br />
　　【免责申明】火了演艺平台仅提供艺人信息发布、经纪公司／公司艺人管理、企业用户艺人预约、交易纠纷调解等在法律允许、平台力所能及范围内的优质服务，希望平台用户本着遵纪守法的原则在平台进行合法交易，若在双方合同合作期限内发生的任何有关洗钱、卖淫、嫖娼等违法行为，火了演艺不承担任何法律责任。
 
                        </p>
                        </div>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
			$(document).ready(function(){
			  $(".tit_gui").click(function(){
			  $(this).next().slideToggle();
			  });
			});
			</script>
        </div>
    </div>
</div>
<div id="footer"></div>
</body>
</html>
