<div id="header" class="home" xmlns="http://www.w3.org/1999/html">
	<div class="content">
    	<div class="top">
        	<div class="logo"><a href="index"><img src="/static/pc/images/logo.jpg" width="40" /> Fire Art</a></div>
            <div class="menu">
                <ul>
                    <li class="on"><a href="index">首页</a></li>
                    <li><a href="artist">艺人</a></li>
                    <li><a href="about">关于我们</a></li>
                </ul>
            </div>
            <div class="right">
                <div class="search">
                	<input type="text" class="seaText" />
                	<input type="submit" class="butt" value="" />
                </div>
                <div class="my">

                    <?php if(!empty(@$user_login)){ ?>
                        <a ><?php echo '欢迎您:';echo empty($user_login['name']) ? '编号'.$user_login['uid'] : $user_login['name'];?></a>
                        <div class="drop-down">
                            <div class="drop-box">
                                <a href="singer">个人中心</a>
                                <a href="logout">退出登录</a>
                            </div>
                        </div>
                    <?php }else{?>
                        <a href="login">登录</a> <a href="registered">注册</a>
                    <?php }?>
                </div>
                <!--<span id="certif" style="float: left; height: 50px; line-height: 50px; font-size:15px; margin-left: 5px;"><a href="#" style="color:#fa424c;"> [未认证]</a></span>-->
                <div class="order"><a href="order?uid=<?php echo $user_login['uid']?>">订单</a></div>
            </div>
        </div>
    </div>
</div>


