<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link href="/static/pc/css/style.css" type="text/css" rel="stylesheet" />
<script src="/static/pc/js/jquery-1.11.2.min.js" type="text/javascript"></script>

</head>

<body class="back3">
<?php include "header.html";?>
<div id="main">
	<div class="content_1000">
    	<div class="orderSub" style="padding-bottom:0;">
        	<div class="procedure1">
            	<ul>
                	<li class="on"><span>1</span><br /><em>提交订单</em></li>
                    <li class="on"><span>2</span><br /><em>在线支付</em></li>
                    <li><span>3</span><br /><em>确认完成</em></li>
                </ul>
            </div>
            <div class="oredrInfo">
                <div class="paymentInfo">
                	<div class="sing_img_">

                    </div>
                    <div class="pay_num">
                    	<div class="top_deposit"></div>
                        <div class="pay_time">请您于<span></span>内完成支付 (逾期将被取消)</div>
                    </div>
                </div>
                <div class="orderTit">支付方式</div>
                <div class="pay_method">
                	<div class="top_pay">
                    	<div class="t_pay_tit">
                        	<div class="l_login">
                            	<img src="/static/pc/images/order1.jpg" width="29" height="29" /> &nbsp;支付宝支付
                            </div>
                            <div class="r_maney">实付金额：<span>￥2000</span></div>
                        </div>
                        <div class="d_pay_info">
                        	<div class="box_info">
                            	<div class="QR_code">
                                	<div class="img_qr"><img src="/static/pc/images/qr.jpg" width="132" height="132" /></div>
                                </div>
                                <div class="r_qr_text"><span>请使用支付宝扫描二维码<br />以完成支付</span>
                                <a href="#">在电脑上支付</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="top_pay">
                    	<div class="t_pay_tit">
                        	<div class="l_login">
                            	<img src="/static/pc/images/order2.jpg" width="29" height="29" /> &nbsp;微信支付
                            </div>
                            <div class="r_maney">实付金额：<span>￥2000</span></div>
                        </div>
                        <div class="d_pay_info">
                        	<div class="box_info">
                            	<div class="QR_code">
                                	<div class="img_qr"><img src="/static/pc/images/qr.jpg" width="132" height="132" /></div>
                                </div>
                                <div class="r_qr_text" style="padding-top:93px;"><span>请使用微信扫描二维码<br />以完成支付</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>
<div id="footer"></div>
<script type="text/javascript">
    var uid="<?php echo $uid?>";
    var order_sn="<?php echo $order_sn?>";
    $(function(){
        $.ajax({
            type:'get',
            url:'../orderdeta/index/?order_sn='+order_sn+'&uid='+uid,
            dataType:'json',
            success:function(data){
                var cty = '';
                cty +='<img src="'+data.results.user_info.img+'" />'
                    +'<span><nobr>'+data.results.user_info.name+'</nobr></span>';
                $('.sing_img_').html(cty);

                var may = '';
                may+='应付金额：<span>￥'+data.results.user_info.about_price+'</span>';
                $('.top_deposit').html(may);

                $('.pay_time span').html('1时59分25秒');
                $('.r_maney span').html('￥'+data.results.user_info.about_price);
                if(data.results.order.pay_way == '1'){
                    $('.top_pay:last').css('display','none');
                }else{
                    $('.top_pay:falst').css('display','none');
                }
            }
        })
    })
</script>
</body>
</html>
